/* RESET */

img{
    max-width: 100%;
}

a{
    color: inherit;
}


/* COMMON */
main{
    padding-top: 90px;
}

main section , footer{
    padding: 3rem 0;
}

.btn , .ms_btn{
    transition: .25s linear;
}

.btn:hover{
    box-shadow: 0px 0px 0px 2px rgba(255,255,255,0.5) inset;
}

.ms_btn:hover{
    box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.5) inset;
}


img.logo{
    max-width: 60%;
}

.ms_btn{
    display: inline-block;
    padding: .7rem 2rem;
    border-radius: 25px;
    font-size: 1.1rem;
    color: blue;
    background-color: #D9DADC;
    text-decoration: none;
}



/* HEADER */

header{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    min-height: 90px;
}

#header-top{
    background-color: black;
    padding: 1rem 0;
}

#header-top img{
    width: 120px;
}

#header-bottom a.nav-link.dropdown-toggle:hover{
    color: black;
}

#header-bottom .dropdown-toggle::after{
    display: none;
}

#header-bottom li i{
    font-size: .8rem;
}

#lens{
    width: 20px;
}

header span.ms_button a.btn.btn-primary{
    background-color: #363636;
    border-color: #363636;
    border-radius: 25px;
}

header #header-bottom li{
    position: static;
}

header .ms_hidden-menu{
    width: 100vw;
    min-height: 200px;
    background-color: white;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
}

header li:hover .ms_hidden-menu{
    display: block;
}



/* JUMBOTRON */
#jumbotron{
    background-image: url(../img/returnal-listing-thumb-01-ps5.jpg);
    background-position: right;
    background-size: cover;
    min-height: 700px;
}

#jumbotron a.btn.btn-danger{
    background-color: #CD3D0F;
}


/* UNDER JUMBOTRON */
#under-jumbotron .ms_card-effect:hover{
    position: relative;
    left: 0;
    bottom: 40px;
    animation: mossa .5s linear;
}

@keyframes mossa {

    0% {
        
        left: 0; 
        bottom: 0px;
        }

    50% {
        
        left: 0; 
        bottom: 20px;
    }

    100% {
        
        left: 0; 
        bottom: 40px;
    }

}



/* CONSOLE */
#console a.btn.btn-primary{
    background-color: #2D64E6;
}


/* MULTIPLAYER */
#multiplayer{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
    min-height: 500px;
}

#multiplayer a.btn.btn-danger{
    background-color: #CD3D0F;
}

#multiplayer img.logo{
    width: 40%;
}


/* NUOVE USCITE */
#nuove-uscite{
    background-color: #1F1F1F;
}


/* ESPLORA */
#esplora a.btn.btnlprimary{
    background-color: blue;
}


/* PLUS */
section#plus{
    background-color: #BEBCBB;
}

@media screen and (min-width: 768px) {
    section#plus{
        padding-top: 0rem;
        padding-bottom: 0rem;
    }
}




/* PLAY-NOW */
#play-now{
    background-color: #161C3B;
}

#play-now a.ms_btn{
    color: black;
    background-color: white;
}



/* FOLLOW-US */
#follow-us .box{
    max-width: 800px;
}



/* FOOTER */
footer{
    background-color: #00439C;
}

#logo-foot-top{
    width: 90px;
}

#logo-foot-bottom{
    width: 25px;
}

footer ul{
    list-style-type: none;
    margin-bottom: 0;
}

footer a{
    text-decoration: none;
}