/* RESET */

img{
    max-width: 100%;
}

a{
    /* debug */
    color: inherit;
}


/* HEADER */

header{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
}

#header-top{
    background-color: black;
}


/* MAIN */

main{
    padding-top: 90px;
}

main section , footer{
    padding: 3rem 0;
}


/* JUMBOTRON */
#jumbotron{
    background-image: url(../img/returnal-listing-thumb-01-ps5.jpg);
    background-position: right;
    background-size: cover;
    /* debug */
    min-height: 700px;
}

#jumbotron a.btn.btn-danger{
    background-color: #CD3D0F;
}


/* UNDER JUMBOTRON */
.ms_card{
    /* debug */
    min-height: 100px;
    background-color: blue;
}


/* CONSOLE */
#console a.btn.btn-primary{
    background-color: #2D64E6;
}


/* MULTIPLAYER */
#multiplayer{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
    /* debug */
    min-height: 500px;
}

#multiplayer a.btn.btn-danger{
    background-color: #CD3D0F;
}

#multiplayer img.logo{
    width: 40%;
}


/* NUOVE USCITE */
#nuove-uscite{
    background-color: #1F1F1F;
}


/* ESPLORA */
#esplora a.btn.btnlprimary{
    background-color: blue;
}


/* PLUS */
#plus{
    background-color: #BEBCBB;
}

img.logo{
    max-width: 60%;
}


/* PLAY-NOW */
#play-now{
    background-color: #161C3B;
}


/* FOLLOW-US */
@media screen and (min-width: 768px) {
    #follow-us .box{
        width: 60%;
    }
}


/* FOOTER */
footer{
    background-color: #00439C;
}